.app {
  padding-bottom: 100px;
  background: #222436;
  color: #bfbfbf;
  position: relative;
  min-height: 100vh;
}

.navbar a {
  margin: 5px;
  color: #bfbfbf;
  font-weight: bold;
}

.navbar {
  background: #00010a;
}

.navbar a:hover {
  color: lightblue;
  transform: scale(1.1);
  text-decoration: none;
}


.new-post input {
  width: 30%;
}

.textEditor {
  background-color: white;
  color: black;
  height: 400px;
}

.textEditorWrap {
  padding-left: 20%;
  padding-right: 20%;
}

.login {
  text-align: center;
  margin-top: 30px;
}

.login input, .new-post input, .new-post select {
  margin-top: 10px;
  font-size: 20px;
  width: 400px;
  text-align: center;
  padding: 10px;
}


.submit {
  background: #00010a;
  color: #bfbfbf;
  border: 2px solid #bfbfbf;
  font-weight: bolder;
}

.submit:hover {
  background: lightblue;
  color: #00010a;
}

.post-content, .new-post {
  text-align: left;
  line-height: 1.7;
  
}

.posts, .dashboard {
  text-align: center;
  line-height: 1.7;
  font-size: 18px;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 10px;
  margin-top: 30px;
}

.post-title, .home, .new-post {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 10px;
}

.comments h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 10px;
  color: #222436;
  background-color: #bfbfbf
}

.post-title h1, .home h1 {
  font-size: 50px;
  font-weight: bolder;
}

.single-post, .comments {
  padding-left: 20%;
  padding-right: 20%;
}

.footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  background: #00010a;
  padding-top: 10px;

}

.dashboard-components {
  width: 50%;
}

.home {
  display: flex;
  font-size: 25px;
}

.home-left {
  flex: 1;
  padding-left: 100px;
  margin-top: 20px;
}

.comment-input {
  text-align: center;
}

.comment-input input, .comment-input textarea {
  margin-top: 10px;
  font-size: 20px;
  width: 600px;
  text-align: center;
  padding: 10px;
}

.social {
  margin-top: 30px;
  color: white;
  line-height: 40px;
  font-style: italic;
}

.social p {
  color: lightblue;
}

.home-left img {
  width: 100%;
}

.home-right {
  flex: 2;
  text-align: left;
  padding-right: 100px;
  padding-left: 100px;
}
