.navbar a {
  margin: 5px;
  color: white;
}

.navbar a:hover {
  margin: 5px;
  color: lightblue;
  transform: scale(1.1);
  text-decoration: none;
}

.login {
  font-size: 25px;
  padding: 10px;
}

.login input {
  margin-top: 10px;
}

.home, .projects, .posts, .account, .login, .single-post, .dashboard {
  padding-top: 50px;
  padding-left: 300px;
  padding-right: 300px;
}

.post-content {
  text-align: left;
  line-height: 1.7;
  font-size: 18px;
}

.post-title {
  background-color: lightblue;
  padding: 10px;
}

.post-comment {
  background-color: lightgreen;
}

.footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: black;
}

.app {
  position: relative;
  min-height: 100vh;
}

.dashboard-components {
  width: 50%;
}
